<section class="section-slider">
  <div class="flexslider fw-slider" data-autoscroll="8">
    <ul class="slides">
      <li class="slide overlay active flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
        <div class="slide-image">
          <img src="./demo_files/slide-girl-with-computer-1140x385.jpg" srcset="./demo_files/slide-girl-with-computer-1140x385.jpg 1140w, ./demo_files/slide-girl-with-computer.jpg 1920w" sizes="100vw" alt="Educator WP" draggable="false">
        </div>
        <div class="slide-caption light left in" style="top: 149px;">
          <div class="container">
            <div class="caption-inner"><h2 class="slide-title"><%=@school_name%></h2>

              <div class="slide-description">这里是学校口号标语</div>
              <div class="buttons">
                <a class="button button-white" href="#" target="_blank">详细说明</a></div>
            </div>
          </div>
        </div>
      </li>
      <li class="slide overlay" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
        <div class="slide-image">
          <img src="./demo_files/slide-bookshop-1140x385.jpg" srcset="/demo_files/slide-bookshop-1140x385.jpg 1140w, /demo_files/slide-bookshop.jpg 1920w" sizes="100vw" alt="Lorem Ipsum" draggable="false">
        </div>
        <div class="slide-caption light left" style="top: 149px;">
          <div class="container">
            <div class="caption-inner"><h2 class="slide-title">标题2</h2>

              <div class="slide-description">Nam libero tempore, cum soluta nobis est eligendi</div>
              <div class="buttons">
                <a class="button button-white" href="#" target="_blank">详细</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="slide overlay" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
        <div class="slide-image">
          <img src="./demo_files/slide-travel-1140x385.jpg" srcset="./demo_files/slide-travel-1140x385.jpg 1140w, ./demo_files/slide-travel.jpg 1920w" sizes="100vw" alt="Study Anywhere" draggable="false">
        </div>
        <div class="slide-caption light left" style="top: 149px;">
          <div class="container">
            <div class="caption-inner"><h2 class="slide-title">标题3</h2>

              <div class="slide-description">Neque porro quisquam est, qui dolorem ipsum quia</div>
              <div class="buttons">
                <a class="button button-white" href="#" target="_self">了解详细</a></div>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <ul class="flex-direction-nav">
      <li><a class="flex-prev" href="#"></a></li>
      <li><a class="flex-next" href="#"></a></li>
    </ul>
  </div>
</section>
<section class="section-content section-bg" style="background-color:#f5f5f5;">
  <div class="container clearfix">
    <div class="entry-content">
      <div class="dm3-one-fourth">
        <div class="dm3-box-icon dm3-box-icon-center">
          <div class="dm3-box-icon-icon"><span class="fa fa-star"></span></div>
          <div class="dm3-box-icon-content">
            <h2>优秀教材</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
      <div class="dm3-one-fourth">
        <div class="dm3-box-icon dm3-box-icon-center">
          <div class="dm3-box-icon-icon"><span class="fa fa-cogs"></span></div>
          <div class="dm3-box-icon-content">
            <h2>高品质</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
      <div class="dm3-one-fourth">
        <div class="dm3-box-icon dm3-box-icon-center">
          <div class="dm3-box-icon-icon"><span class="fa fa-heart"></span></div>
          <div class="dm3-box-icon-content">
            <h2>轻松学习</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
      <div class="dm3-one-fourth dm3-column-last">
        <div class="dm3-box-icon dm3-box-icon-center">
          <div class="dm3-box-icon-icon"><span class="fa fa-check"></span></div>
          <div class="dm3-box-icon-content">
            <h2>简单高效</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</section>
<section class="section-content">

<div class="container clearfix">

<div class="entry-content">
<div class="title1 clearfix">
  <div class="text">
    <h2>Latest Courses</h2>
  </div>
  <div class="sub-title">
    <%= link_to '查看所有课程', courseList_path %>
   </div>
</div>

  <div class="title1 clearfix">
    <div class="text"><h2>近期课程</h2></div>
  </div>
  <div class="dm3-tabs-testimonials" data-autoscroll="8">
    <div class="entry-content dm3-tabs" style="height: 334px;">
      <div class="dm3-tab" style="position: absolute; left: 0px; width: 100%; display: none; opacity: 0;">
        <div class="dm3-tab-inner">
          <article class="post-grid post-142 ib_educator_course type-ib_educator_course status-publish has-post-thumbnail hentry ib_educator_category-business ib_educator_category-entrepreneurship">
            <div class="post-thumb">
              <a href="#"><img width="360" height="224" src="./demo_files/bookshop-managers-360x224.jpg" class="attachment-ib-educator-grid wp-post-image" alt="Online Bookshop" srcset="http://educator.incrediblebytes.com/wp-content/uploads/2014/10/bookshop-managers-360x224.jpg 360w, http://educator.incrediblebytes.com/wp-content/uploads/2014/10/bookshop-managers-360x224@2x.jpg 720w" sizes="(min-width: 768px) 360px, 96vw"></a>
            </div>
            <div class="post-body"><h2 class="entry-title">
              <a href="#">SAT 起步
              </a></h2>

              <div class="price">$ 9.99</div>
              <div class="post-excerpt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua.</p>
              </div>
            </div>
            <footer class="post-meta">
              <span class="num-lessons">3 周课时</span><span class="difficulty">初学者</span>


            </footer>
          </article>
          <article class="post-grid post-691 ib_educator_course type-ib_educator_course status-publish has-post-thumbnail hentry ib_educator_category-entrepreneurship">

            <div class="post-thumb">
              <a href="#"><img width="360" height="224" src="./demo_files/idea-360x224.jpg" class="attachment-ib-educator-grid wp-post-image" alt="Dream" srcset="http://educator.incrediblebytes.com/wp-content/uploads/2014/10/idea-360x224.jpg 360w, http://educator.incrediblebytes.com/wp-content/uploads/2014/10/idea-360x224@2x.jpg 720w" sizes="(min-width: 768px) 360px, 96vw"></a>
            </div>
            <div class="post-body"><h2 class="entry-title">
              <a href="#">Toefl 中级</a></h2>

              <div class="price">$ 50</div>
              <div class="post-excerpt">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua.</p>
              </div>
            </div>
            <footer class="post-meta"><span class="difficulty">中级</span>


            </footer>
          </article>
          <article class="post-grid post-233 ib_educator_course type-ib_educator_course status-publish has-post-thumbnail hentry ib_educator_category-business ib_educator_category-statistics">
            <div class="post-thumb">
              <a href="#"><img width="360" height="224" src="./demo_files/course-investment-360x224.jpg" class="attachment-ib-educator-grid wp-post-image" alt="Diagrams" srcset="http://educator.incrediblebytes.com/wp-content/uploads/2014/10/course-investment-360x224.jpg 360w, http://educator.incrediblebytes.com/wp-content/uploads/2014/10/course-investment-360x224@2x.jpg 720w" sizes="(min-width: 768px) 360px, 96vw"></a>
            </div>
            <div class="post-body"><h2 class="entry-title">
              <a href="#">商业分析</a></h2>

              <div class="price">$ 30</div>
              <div class="post-excerpt">
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                  voluptatum deleniti.</p>
              </div>
            </div>
            <footer class="post-meta"><span class="num-lessons">4 周课时</span>

            </footer>
          </article>

        </div>
      </div>
      <div class="dm3-tab" style="position: absolute; left: 0px; width: 100%; display: block; opacity: 1;">
        <div class="dm3-tab-inner">
          <article class="post-grid post-689 ib_educator_course type-ib_educator_course status-publish has-post-thumbnail hentry ib_educator_category-business">
            <div class="post-thumb">
              <a href="#"><img width="360" height="224" src="./demo_files/course-investment-360x224.jpg" class="attachment-ib-educator-grid wp-post-image" alt="Diagrams" srcset="http://educator.incrediblebytes.com/wp-content/uploads/2014/10/course-investment-360x224.jpg 360w, http://educator.incrediblebytes.com/wp-content/uploads/2014/10/course-investment-360x224@2x.jpg 720w" sizes="(min-width: 768px) 360px, 96vw"></a>
            </div>
            <div class="post-body"><h2 class="entry-title">
              <a href="#">Course With Vimeo
                Video</a></h2>

              <div class="price">$ 90</div>
              <div class="post-excerpt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua.</p>
              </div>
            </div>
            <footer class="post-meta">
              <span class="num-lessons">2 周课时</span><span class="difficulty">Intermediate</span>


            </footer>
          </article>
          <article class="post-grid post-231 ib_educator_course type-ib_educator_course status-publish has-post-thumbnail hentry ib_educator_category-business ib_educator_category-entrepreneurship">
            <div class="post-thumb">
              <a href="#"><img width="360" height="224" src="./demo_files/course-business-360x224.jpg" class="attachment-ib-educator-grid wp-post-image" alt="Success" srcset="http://educator.incrediblebytes.com/wp-content/uploads/2014/10/course-business-360x224.jpg 360w, http://educator.incrediblebytes.com/wp-content/uploads/2014/10/course-business-360x224@2x.jpg 720w" sizes="(min-width: 768px) 360px, 96vw"></a>
            </div>
            <div class="post-body"><h2 class="entry-title">
              <a href="#">Web Design Business</a>
            </h2>

              <div class="price">￥ 1200</div>
              <div class="post-excerpt">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                  laudantium, totam rem aperiam, eaque ipsa quae.</p>
              </div>
            </div>
            <footer class="post-meta">
              <span class="num-lessons">3 周课时</span><span class="difficulty">中级</span>


            </footer>
          </article>
          <article class="post-grid post-161 ib_educator_course type-ib_educator_course status-publish has-post-thumbnail hentry ib_educator_category-educator">
            <div class="post-thumb">
              <a href="#"><img width="360" height="224" src="./demo_files/idea-360x224.jpg" class="attachment-ib-educator-grid wp-post-image" alt="Dream" srcset="http://educator.incrediblebytes.com/wp-content/uploads/2014/10/idea-360x224.jpg 360w, http://educator.incrediblebytes.com/wp-content/uploads/2014/10/idea-360x224@2x.jpg 720w" sizes="(min-width: 768px) 360px, 96vw"></a>
            </div>
            <div class="post-body"><h2 class="entry-title">
              <a href="#">Online Advertising</a>
            </h2>

              <div class="price">Free</div>
              <div class="post-excerpt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua.</p>
              </div>
            </div>
            <footer class="post-meta"><span class="num-lessons">2 周课时</span>


            </footer>
          </article>

        </div>
      </div>
      <div class="dm3-tab" style="position: absolute; left: 0px; width: 100%; display: none; opacity: 0;">
        <div class="dm3-tab-inner">
          <article class="post-grid post-237 ib_educator_course type-ib_educator_course status-publish has-post-thumbnail hentry ib_educator_category-business">
            <div class="post-thumb">
              <a href="#"><img width="360" height="224" src="./demo_files/course-social-360x224.jpg" class="attachment-ib-educator-grid wp-post-image" alt="Image #3 caption" srcset="http://educator.incrediblebytes.com/wp-content/uploads/2014/10/course-social-360x224.jpg 360w, http://educator.incrediblebytes.com/wp-content/uploads/2014/10/course-social-360x224@2x.jpg 720w" sizes="(min-width: 768px) 360px, 96vw"></a>
            </div>
            <div class="post-body"><h2 class="entry-title">
              <a href="#">Social Media</a></h2>

              <div class="price">Free</div>
              <div class="post-excerpt">
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat.</p>
              </div>
            </div>
            <footer class="post-meta">
              <span class="num-lessons">2 周课时</span><span class="difficulty">Beginner</span>


            </footer>
          </article>
          <article class="post-grid post-235 ib_educator_course type-ib_educator_course status-publish has-post-thumbnail hentry ib_educator_category-business ib_educator_category-statistics">
            <div class="post-thumb">
              <a href="#"><img width="360" height="224" src="./demo_files/girl-with-computer-360x224.jpg" class="attachment-ib-educator-grid wp-post-image" alt="Working" srcset="http://educator.incrediblebytes.com/wp-content/uploads/2014/10/girl-with-computer-360x224.jpg 360w, http://educator.incrediblebytes.com/wp-content/uploads/2014/10/girl-with-computer-360x224@2x.jpg 720w" sizes="(min-width: 768px) 360px, 96vw"></a>
            </div>
            <div class="post-body"><h2 class="entry-title">
              <a href="#">Data Analysis</a></h2>

              <div class="price">$ 30</div>
              <div class="post-excerpt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua.</p>
              </div>
            </div>
            <footer class="post-meta"><span class="num-lessons">3 周课时</span>


            </footer>
          </article>
          <article class="post-grid post-155 ib_educator_course type-ib_educator_course status-publish has-post-thumbnail hentry ib_educator_category-educator ib_educator_category-wordpress">
            <div class="post-thumb">
              <a href="#"><img width="360" height="224" src="./demo_files/new-business-owner-360x224.jpg" class="attachment-ib-educator-grid wp-post-image" alt="new-business-owner" srcset="http://educator.incrediblebytes.com/wp-content/uploads/2014/10/new-business-owner-360x224.jpg 360w, http://educator.incrediblebytes.com/wp-content/uploads/2014/10/new-business-owner-360x224@2x.jpg 720w" sizes="(min-width: 768px) 360px, 96vw"></a>
            </div>
            <div class="post-body"><h2 class="entry-title">
              <a href="#">Introduction to
                Educator</a></h2>

              <div class="price">Free</div>
              <div class="post-excerpt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua.</p>
              </div>
            </div>
            <footer class="post-meta"><span class="num-lessons">6 周课时</span>


            </footer>
          </article>

        </div>
      </div>
    </div>
    <ul class="dm3-tabs-nav">
      <li class=""><a href="#">1</a></li>
      <li class=""><a href="#">2</a></li>
      <li class=""><a href="#">3</a></li>
    </ul>
  </div>
</div>
</div>
</section>

<!--讲师介绍 区域-->

<%= render 'home_page/partical_lecturers', locals: {lecturers: @lecturers} %>




<section class="section-content">
  <div class="container clearfix">
    <div class="entry-content">
      <div class="title1 clearfix">
        <div class="text"><h2>赛尔教育</h2></div>
        <div class="sub-title">了解赛尔教育的几大优势</div>
      </div>
      <div class="dm3-one-third">
        <h3>一对一教学指导</h3>

        <p>我们针对学员提供一对一教学指导.详细信息..........</p>
        <ul>
          <li><a href="#" >Visit Educator WP on WordPress.org&nbsp;»</a>
          </li>
          <li><a href="#">View Educator WP
            Documentation&nbsp;»</a></li>
          <li>
            <a href="#">How Educator WP Works&nbsp;»</a>
          </li>
        </ul>
      </div>
      <div class="dm3-two-third dm3-column-last">
        <div class="dm3-accordion">
          <div class="dm3-collapse-item dm3-collapse-open">
            <div class="dm3-collapse-trigger">
              <a href="#">Add Quiz to Any Lesson</a></div>
            <div class="dm3-collapse-body dm3-in dm3-collapse" style="height: 70px;">
              <div class="dm3-collapse-inner">Educator WP supports two types of questions: multiple choice and written
                answer. Quizzes can be graded automatically or manually by a lecturer.
              </div>
            </div>
          </div>
          <div class="dm3-collapse-item">
            <div class="dm3-collapse-trigger"><a href="#">收费方式</a>
            </div>
            <div class="dm3-collapse-body dm3-collapse">
              <div class="dm3-collapse-inner">我们支持三种收费方式: 信用卡, 现金以及银行转账:)
              </div>
            </div>
          </div>
          <div class="dm3-collapse-item">
            <div class="dm3-collapse-trigger"><a href="#">Email Notifications</a>
            </div>
            <div class="dm3-collapse-body dm3-collapse">
              <div class="dm3-collapse-inner">Students receive email notifications. You can configure templates of
                email notifications from admin panel.
              </div>
            </div>
          </div>
          <div class="dm3-collapse-item">
            <div class="dm3-collapse-trigger">
              <a href="#">Roles for Lecturers and Students</a></div>
            <div class="dm3-collapse-body dm3-collapse">
              <div class="dm3-collapse-inner">Students and lecturers have different roles – lecturer, student.
                Lecturers can create courses and add grades.
              </div>
            </div>
          </div>
          <div class="dm3-collapse-item">
            <div class="dm3-collapse-trigger"><a href="#">Course Categories</a>
            </div>
            <div class="dm3-collapse-body dm3-collapse">
              <div class="dm3-collapse-inner">Categorize courses to make it easier for students to find what they
                need.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</section>

<!--学员感言-->
<section class="section-content section-bg" style="background-color:#f5f5f5;">
  <div class="container clearfix">
    <div class="entry-content">
      <div class="title1 clearfix">
        <div class="text"><h2>优秀学员</h2></div>
      </div>
      <div class="dm3-tabs-testimonials" data-autoscroll="8">
        <div class="dm3-tabs" style="height: 334px;">
          <div class="dm3-tab" style="position: absolute; left: 0px; width: 100%; display: none; opacity: 0;">
            <div class="dm3-tab-inner">
              <blockquote>“如果你浪费了自己的年龄，那是挺可悲的。因为你的青春只能持续一点儿时间——很短的一点儿时间。
                ”
              </blockquote>
              <div class="dm3-testimonial-photo"><img src="./demo_files/student-1.jpg" alt=""></div>
              <div class="dm3-testimonial-name">Jinny Wise</div>
              <div class="dm3-testimonial-description">美国大学</div>
            </div>
          </div>
          <div class="dm3-tab" style="position: absolute; left: 0px; width: 100%; display: block; opacity: 1;">
            <div class="dm3-tab-inner">
              <blockquote>“人生并不像火车要通过每个站似的经过每一个生活阶段。人生总是直向前行走，从不留下什么。”
              </blockquote>
              <div class="dm3-testimonial-photo"><img src="./demo_files/student-2.jpg" alt=""></div>
              <div class="dm3-testimonial-name">James</div>
              <div class="dm3-testimonial-description">剑桥大学</div>
            </div>
          </div>
          <div class="dm3-tab" style="position: absolute; left: 0px; width: 100%; display: none; opacity: 0;">
            <div class="dm3-tab-inner">
              <blockquote>“伟大的思想能变成巨大的财富。”
              </blockquote>
              <div class="dm3-testimonial-photo"><img src="./demo_files/student-3.jpg" alt=""></div>
              <div class="dm3-testimonial-name"><a href="http://google.com/" target="_blank">John Doe</a></div>
              <div class="dm3-testimonial-description">哈佛大学</div>
            </div>
          </div>
        </div>
        <ul class="dm3-tabs-nav">
          <li class=""><a href="#">1</a></li>
          <li class=""><a href="#">2</a></li>
          <li class=""><a href="#">3</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

