<!--#此页面展示 指定学员的 某个培训班的 所有的 模考成绩 列表-->


<h1></h1>

<div class="ui green horizontal label"><h2><%=@student.name %> 真实成绩列表</h2></div>

<script>

    <%scores = real_scores_objects_for_nvd3_chart(@student,@exam_type)%>

    data_example =<%=raw wrap_scores_for_nvd3_chart(scores,@training_class,current_user).to_json%>

//    data_example =[{key: "阅读",values: [{x:'入口成绩',y:600},
//        {x:'一月目标',y:600},
//        {x:'二月目标',y:600},
//        {x:'2008年第一次模考',y:602},
//        {x:'2008年第二次模考',y:603},
//        {x:'2008年第三次模考',y:616},
//        {x:'2008年第四次模考',y:616},
//        {x:'2008年第五次模考',y:602},
//        {x:'2008年第六次模考',y:603},
//        {x:'2008年第七次模考',y:616},
//        {x:'2008年第八次模考',y:616},
//        {x:'2008年第九次模考',y:602},
//        {x:'2008年第十次模考',y:603},
//        {x:'2008年第十一次模考',y:616},
//        {x:'2008年第十二次模考',y:616},
//    ] } ,
//        {key: "写作",values: [{x:'入口成绩',y:600},
//            {x:'一月目标',y:600},
//            {x:'二月目标',y:600},
//            {x:'2008年第一次模考',y:602},
//            {x:'2008年第二次模考',y:603},
//            {x:'2008年第三次模考',y:616},
//            {x:'2008年第四次模考',y:616},
//            {x:'2008年第五次模考',y:602},
//            {x:'2008年第六次模考',y:603},
//            {x:'2008年第七次模考',y:616},
//            {x:'2008年第八次模考',y:616},
//            {x:'2008年第九次模考',y:602},
//            {x:'2008年第十次模考',y:603},
//            {x:'2008年第十一次模考',y:616},
//            {x:'2008年第十二次模考',y:616},
//        ] } ,
//        {key: "数学",values: [{x:'入口成绩',y:600},
//            {x:'一月目标',y:600},
//            {x:'二月目标',y:600},
//            {x:'2008年第一次模考',y:602},
//            {x:'2008年第二次模考',y:603},
//            {x:'2008年第三次模考',y:616},
//            {x:'2008年第四次模考',y:616},
//            {x:'2008年第五次模考',y:602},
//            {x:'2008年第六次模考',y:603},
//            {x:'2008年第七次模考',y:616},
//            {x:'2008年第八次模考',y:616},
//            {x:'2008年第九次模考',y:602},
//            {x:'2008年第十次模考',y:603},
//            {x:'2008年第十一次模考',y:616},
//            {x:'2008年第十二次模考',y:616},
//        ] } ]
</script>

<div id='chart1'>
  <svg style='height:500px'> </svg>
  <!--生成统计报表-->
</div>



<div class="ui  basic vertical fluid accordion">
  <!-- 学员入口成绩和目标成绩-->
  <!--学员真实考试成绩-->
  <%=render 'student_real_scores_table_list' %>
</div>


<%= link_to '返回到班级列表', training_classes_path , {class:"ui blue  button"}%>

<script src="/assets/multiBar.js"></script>


