<h1></h1>
<div class="ui green horizontal label"><h2> 修改 班级<%= @training_class.name%>的模考</h2></div>
<%= render 'form' %>

<%= link_to '返回到班级模考 列表', training_class_examinations_path(@training_class) ,{class: 'ui blue button'}%>
